@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;      /* Firefox */
  }

  html {
    scroll-behavior: smooth;
  }
  

  /* Adjust the margin between dots and carousel */
.slick-dots {
  margin-top: -10px; /* Adjust this value to reduce the gap */
}

/* Style for custom next/prev buttons */
.custom-arrow {
  background-color: #162458;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.next-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 18px;
}

.prev-arrow {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 18px;
}

/* Add hover effect to next/prev arrows */
.custom-arrow:hover {
  background-color: #0a1d36;
}

/* Style for dots and carousel container */
.slick-dots li button:before {
  color: #162458; /* Dot color */
}

.slick-dots li.slick-active button:before {
  color: #0a1d36; /* Active dot color */
}
